__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
build/
dist/
.venv/
venv/
.tox/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.takeit-partial
*.takeit-partial.meta
*.takeit-sent.meta
.DS_Store
.idea/
.vscode/
